@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  list-style: none;
  --primary-green: #002b15;
  --highlight-green: #abda37;
  --white: #ffffff;
  --grey: #f2f5f7;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: normal;
  margin: 0;
}
p {
  font-weight: 200;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--primary-green);
}

.dash {
  background-color: var(--grey);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: normal;
  width: 100%;
  border-top-left-radius: 20px;
}

.dash-header {
  padding: 10px 20px;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
hr {
  margin: 2rem;
}
.dash-h-left {
  font-size: 1.25rem;
}
.dash-h-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dash-h-left h1 {
  font-size: 2rem;
  color: var(--primary-green);
}

.dash-h-right p {
  font-size: 1.5rem;
  color: var(--primary-green);
}
/* pending content */

.cont-p-table-wrapper {
  padding: 20px;
}

.search-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input {
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid;
}
/* table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 2px solid var(--primary-green);
}

th,
td {
  padding: 12px;
  text-align: center;
  border: 1px solid var(--grey);
}

th {
  background-color: var(--primary-green);
  color: var(--white);
}

tr:nth-child(even) {
  background-color: var(--grey);
}

.fa-plus {
  padding-right: 3px;
  margin: 0;
}

.btn {
  margin-right: 0.5rem;
  border-radius: 20px;
  border: 1px none;
}
.btn-black {
  background-color: black;
  color: white;
}
.btn-red {
  background-color: crimson;
  color: white;
}
.btn-green {
  background-color: var(--highlight-green);
  color: var(--primary-green);
}

.cont-r-table-wrapper {
  padding: 20px;
}

#search-button {
  padding: 0.7rem 1rem;
}
